<!-- <!DOCTYPE html>
<html>
<head>
  <title>Madlib game options</title>
</head>
<body>
    <p>
        <form action="/madlib" method="POST"> When using POST here instead of GET, the site returned a 
            "Method Not Allowed" error
        Please enter or select a choice for the following categories below:
        <p></p>
        <label>Person</label>
        <select name="human">
            <option value="he">he</option>
            <option value="she">she</option>
            <option value="it">it</option>
            <option value="they">they</option>
            <option value="I">I</option>
        </select>
        <p></p>  
        <input type="text" name="color">
        <label>A color</label>
        <p></p>
        <input type="text" name="noun">
        <label>A noun</label>
        <p></p>
        <input type="text" name="adj">
        <label>An adjective</label>
        <p></p>
        <input type="submit">
        </a>
        </form>
    </p>
</body>
</html> -->

{% extends 'basepage.html' %}

{% block title %}Madlib game options{% endblock %}

{% block content %}
<p>
    <form action="/madlib">
    Please enter or select a choice for the following categories below:
    <p></p>
    <label>Person</label>
    <select name="human">
        <option value="he">he</option>
        <option value="she">she</option>
        <option value="it">it</option>
        <option value="they">they</option>
        <option value="I">I</option>
    </select>
    <p></p>  
    <input type="text" name="color">
    <label>A color</label>
    <p></p>
    <input type="text" name="noun">
    <label>A noun</label>
    <p></p>
    <input type="text" name="adj">
    <label>An adjective</label>
    <p></p>
    <input type="submit">
    </a>
    </form>
</p>
{% endblock %}