<!-- <!DOCTYPE html>
<html>
<head>
  <title>Madlib Story</title>
</head>
<body> 
    There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
    When {{ human }} went to pick it up, it burst into flames in a totally
    {{ adjective }} way.
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Madlib Story{% endblock %}</title>
</head>
<body>
  {% block content %}    
  There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
  When {{ human }} went to pick it up, it burst into flames in a totally
  {{ adjective }} way.
  {% endblock %}
</body>
</html>